/* 
    Document   : about
    Created on : Jun 19, 2012, 9:58:48 AM
    Author     : riceje7
    Description:
        Purpose of the stylesheet follows.
*/

.fltrt{
  float: right;
}

.fltlt{
  float: left;
}

#block{
  position: relative;
  width: 100%;
  height: auto;
}

span.large{
  font-size: 26px;
  font-weight:bold;
}