/* 
    Document   : common
    Created on : Jun 24, 2012, 11:09:08 AM
    Author     : riceje7
    Description:
        Purpose of the stylesheet follows.
*/

.wrapper{
  width: 800px;
  margin: auto;
}

.container {
  position: relative;
  width:800px;
  height:100%;
  margin: auto;
}

