/* 
    Document   : contact
    Created on : Jun 22, 2012, 4:22:59 PM
    Author     : riceje7
    Description:
        Purpose of the stylesheet follows.
*/

#contact-wrapper{
  width: 400px;
  margin: auto;
}

#contactform{
  box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -o-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -ms-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  width: 350px;
  margin: auto;
}

.contactinput{
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -o-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -ms-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  
}

.contactinputmessage{
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -o-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  -ms-box-shadow: 0px 0px 5px 5px rgba(175, 240, 225, .75);
  
}

#contactname{
  width: 275px !important;
  margin: auto !important;
}

#contactemail{
  width: 275px !important;
  margin: auto !important;
}

#contacttel{
  width: 275px !important;
  margin: auto !important;
}

#contactmessage{
  width: 275px !important;
  margin: auto !important;
}

#contactsubmit{
  width: 275px !important;
  margin: auto !important;
}

