/* 
    Document   : home
    Created on : Jun 22, 2012, 2:50:17 PM
    Author     : riceje7
    Description:
        Purpose of the stylesheet follows.
*/

.fltrt{
  float: right;
}

.fltlt{
  float: left;
}
  
#block{
  position: relative;
  width: 100%;
  height: auto;
}

span.large{
  font-size: 26px;
  font-weight:bold;
}
