@charset "UTF-8";
/* CSS Document */


html{
  background-color: #E6FFFA;
}

#banner{
  width: 800px;
  height:210px;
  background-image:url("../images/banner.png");
}

#content {
  position:relative;
  padding-bottom: 75px !important;
  height: auto;
}  

#footer {
  position:relative;
  height: 75px;
  margin-top:75px;
  bottom:0px;
  left:0px;
}

#spacer{
  position:relative;
  width:100%;
  height:50px;
  top:0px;
  left:0px;
}

#link-container{
  position: absolute;
}

div.link-glow {
  text-shadow: 0px 0px 10px #87CFBF, 0px 0px 10px #87CFBF, 0px 0px 10px #87CFBF, 0px 0px 10px #87CFBF;
  color:#999;
  text-align:center;
}

div.link-noglow {
  color:#999;
  text-align:center;
}

div.flower-glow {
  -webkit-box-shadow: 0 0 10px 5px rgba(135, 205, 190, .75) inset;
  -moz-box-shadow: 0 0 10px 5px rgba(135, 205, 190, .75) inset;
  -o-box-shadow: 0 0 10px 5px rgba(135, 205, 190, .75) inset;
  -ms-box-shadow: 0 0 10px 5px rgba(135, 205, 190, .75) inset;
  box-shadow: 0 0 10px 5px rgba(135, 205, 190, .75) inset;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -o-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  
  color:#999;
  text-align:center;
}

div.flower-noglow {
  -webkit-box-shadow: 0 0 5px 5px transparent inset;
  -moz-box-shadow: 0 0 5px 5px transparent inset;
  -o-box-shadow: 0 0 5px 5px transparent inset;
  -ms-box-shadow: 0 0 5px 5px transparent inset;
  box-shadow: 0 0 5px 5px transparent inset;
}

#link-home{
  position: absolute;
  width:75px;
  height:20px;
  top:100px;
  left:419px;
}

#link-about{
  position: absolute;
  width:75px;
  height:20px;
  top:100px;
  left:515px;
}

#link-proof{
  position: absolute;
  width:75px;
  height:20px;
  top:90px;
  left:609px;
}

#link-contact{
  position: absolute;
  width:75px;
  height:20px;
  top:100px;
  left:708px;
}


#flower-home{
  position: absolute;
  width:40px;
  height:40px;
  top:126px;
  left:439px;
  background:url("../images/flower-home.png") no-repeat;
  background-position: 5px 5px;
}

#flower-about{
  position: absolute;
  width:40px;
  height:40px;
  top:130px;
  left:535px;
  background:url("../images/flower-about.png") no-repeat;
  background-position: 5px 5px;
}

#flower-proof{
  position: absolute;
  width:40px;
  height:40px;
  top:130px;
  left:630px;
  background:url("../images/flower-proof.png") no-repeat;
  background-position: 5px 5px;
}

#flower-contact{
  position: absolute;
  width:40px;
  height:40px;
  top:130px;
  left:728px;
  background:url("../images/flower-contact.png") no-repeat;
  background-position: 5px 5px;
}

